.center-div {
  .center-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 16px;
  }

  .main-frame {
    width: 90%;
    height: 80%;
    padding: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: var(--color-material);
  }

  .entry-fieldset {
    padding: 8px;
    margin: 8px;
    display: flex;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    flex-direction: column;
  }

  .entries-grid {
    padding: 10px;
    width: 100%;
    flex-grow: 1;
    overflow: auto;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
    grid-auto-rows: min-content;
    background-color: var(--color-material);
  }

  /* Custom EntryButton Styles */
  .entry-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 8px;
    /* padding: 16px 8px; */
    gap: 8px;
    aspect-ratio: 1;
    cursor: pointer;
    border: none;
    background-color: var(--color-material);
    outline: none;
    user-select: none;
    position: relative;
  }

  /* The dotted line for focus/selection */
  .entry-button.active::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    outline: 1px dotted #000;
    pointer-events: none;
  }

  .entry-image-frame {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-material);
    overflow: clip;
    padding: 2px;
  }

  .entry-image {
    flex: 1;
    width: auto;
    height: 100%;
    /* aspect-ratio: 1; */
    object-fit: contain;
  }

  .entry-label {
    font-size: 24px;
    text-align: center;
    /* overflow: hidden; */
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    color: (var(--color-material-text));
  }

  .no-entries {
    grid-column: 1 / -1;
    text-align: center;
    padding: 40px;
    font-family: "MS Sans Serif", sans-serif;
    color: #000;
  }

  .reset-button {
    width: fit-content;
  }

}
